# Sets

Sets are built in data type in python used to store unique value. Sets are unordered and does not contains any duplicates.  Sets are usefull for performa the operations like intersection, union, difference and symtric difference,

In [3]:
#Create set
my_set = {1,2,3,4,5,6,6,5,7,7,8,1}
print(f"my set: {my_set}")
print(f"type my set?: {type(my_set)}")

my set: {1, 2, 3, 4, 5, 6, 7, 8}
type my set?: <class 'set'>

In [4]:
my_empty_set = set()
print(my_empty_set)
print(type(my_empty_set))

set()
<class 'set'>

In [5]:
#create set using set method
my_unique_set = set([1,2,3,4,5,8,9])
print(my_unique_set)

{1, 2, 3, 4, 5, 8, 9}

In [ ]:
#create set using set method
my_duplicate_set = set([1,2,3,4,5,8,9,10,10,9])
print(my_duplicate_set) #Result will have only unique elements even we defined with duplicate elements

{1, 2, 3, 4, 5, 8, 9, 10}

In [13]:
#Basic Set operatin
#Add elemets to empty set
my_set = set()
my_set.add(1)
my_set.add(2)
print(my_set)

{1, 2}

In [14]:
#Remove element
my_set.remove(2) # Remove the element which is present

In [15]:
my_set.remove(4) #Try to remove element which is not exist

KeyError: 4

In [ ]:
#Since we have issue if we remove an element which is not exist. Because in real time there can be use case to perform
# Since to avoide this error we ca use discard method
my_set.discard(4) #It will not throug the key error

In [17]:
#Clear method in Set
my_set.clear()

In [18]:
#Set membership test
my_set = {1,2,3,4,5,6,7}
print(3 in my_set)

True

In [ ]:
#Mathematical operation
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

#Perform the set union

#Combine the unique elements from both the sets
union_set = my_set1.union(my_set2)
print(union_set) # it will merge

#Resturn common in both set
interseaction_set = my_set1.intersection(my_set2) #Result will be the common elements from both
print(interseaction_set)  

#Here my_set1 will update with intersection elements
my_set1.intersection_update(my_set2)
print(my_set1)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

#difference operation

#Resturn elements that are in set 1 but not in set 2
difference_set1 = my_set1.difference(my_set2) #Which gives an unique elemets and remove common elements from set 1
print(difference_set1)

difference_set2 = my_set2.difference(my_set1) #Which gives an unique elemets and remove common elements from set 1
print(difference_set2)

my_set1.difference_update(my_set2)
print(my_set1)

{1, 2, 3}
{8, 6, 7}
{1, 2, 3}

In [30]:
#Symmetric difference
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}

#It will give result of one set. Including set1 unique elemensts and set2 unique elements
symmetric_difference = my_set1.symmetric_difference(my_set2)
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

# Set method

In [33]:
set_1 = {1,2,3,4,5}
set_2 = {1,3,4,5}

print(set_1.issubset(set_2))
print(set_1.issuperset(set_2))

False
True